@model List<Postagem>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Blog do Gallo</h1>
    <p>Confira aqui as últimas noticias e novidades do mundo!!!</p>
</div>

@foreach (Postagem postagem in Model) {
    <img src="@postagem.Foto" width="200">
    <p>@postagem.Nome</p>
    <p>@Html.Raw(postagem.Texto)</p>
}